.battle-board-container {
    display: inline-block;
}

.columns-number-container {
    display: flex;
    padding-left: 22px;
}

.columns-number {
    width: 50px;
}

.row-letter-container {
    display: flex;
}

.row-letter {
    width: 22px;
    height: 50px;
    display: flex;
    align-items: center;
}

.columns-square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}